.App {
  text-align: center;
  width: 60%;
  margin: 0 20%;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  width: 50%;

  margin-left: 25%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid black;
}
.flex-item-left {
  display: inline-block;
  flex: 40%;
}
.flex-item-right {
  display: inline-block;
  flex: 45%;
  text-align: justify;
  padding-right: 10px;
}

.img-padding {
  padding: 5px;
}
.border {
  border: 1px solid black;
}

footer {
  font-size: smaller;
}
.flex-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-img {
  width: 45%;
  padding: 5px;
}
.flex-details {
  width: 20%;
}
.flex-right {
  width: 20%;
  text-align: right;
}
